/* Global variable started here */
:root {     
    --primary-orange-color: #f99f38;
    --primary-yellow-color: #f7de3a;
    --primary-blue-color: #315399;
    --black-color: #000000;
    --white-color: #ffffff;
  }
  html {
    font-size: 62.5%; // 1rem = 10px
   
    @include breakpoint(medium) {
      font-size: 56.25%;  // 1rem = 9px
    }
   
    @include breakpoint(small) {
      font-size: 50%;  // 1rem = 8px
    }
}
h1{
    font-size: 5.5rem;
    color: var(--primary-orange-color);
}
h2{
    font-size: 5rem;
    color: var(--primary-yellow-color);
    font-weight: 700;
}
h3{
    font-size: 3.5rem;
    color: var(--primary-color);
    font-weight: 700;
}
h4{
    font-size: 3rem;
    color: var(--white-color);
}
h5{
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
}
h6{
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 700;
}
p{
    font-size: 2.5rem;
    color: var(--white-color);
}
/* Header section css started here */
.header-section{
    background-image: linear-gradient(rgba(4,4,3,0.8),rgba(4,4,3,0.8)), url(images/header-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    background-position: center center;
}
.top-donate-btn{
    color: var(--white-color);
    background-color: var(--primary-orange-color);
    font-size: 2rem;
    border: 2px solid var(--primary-orange-color);
    border-radius: 10px;
    font-weight: 700;
}
.top-donate-btn:hover{
    color: var(--primary-orange-color);
    background-color: transparent;
    border: 2px solid var(--primary-orange-color);
   
}

.become-member, 
.login-signup{
    text-decoration: none;
    font-size: 2rem;
    color: var(--white-color);
}
.become-member:hover,
.login-signup:hover{
    color: var(--primary-orange-color);
}
.logo-row{
    height: 10rem;
}
.logo-row img{
    height: 5rem;
    width: 15rem;
}
.tagline{
    max-width: 70%;
    padding-top: 12rem;
}
.dropdown-row{
    padding-bottom: 25rem;
}
.banner-country button,
.banner-state button,
.banner-district button{
    font-size: 2rem;
    background-color: var(--white-color);
    color: var(--primary-orange-color);
    width: 100%;
}
.banner-country button:hover,
.banner-state button:hover,
.banner-district button:hover{
    background-color: var(--primary-orange-color);
    color: var(--white-color);
}
.banner-country ul li a,
.banner-state ul li a,
.banner-district ul li a{
    font-size: 2rem;   
}
.dropdown-menu{
    width: 100%;
}
.banner-search button{
    font-size: 2rem;
    background-color: var(--primary-orange-color);
    color: var(--white-color);
    border: none;
    width: 100%;
}
.banner-search button:hover{
    background-color: var(--white-color);
    color: var(--primary-orange-color);
}
/* Fixed navabar css started here */
.sticky-top{
    background-color: var(--white-color);
}
.nav-item a{
    font-size: 2rem;
    color: var(--primary-orange-color);
    font-weight: 700;
}
.nav-item a:hover{
    color: var(--black-color);
}
.navbar-donate-btn{
    font-size: 2rem;
    background-color: var(--primary-orange-color);
    color: var(--white-color);
    border: 2px solid var(--primary-orange-color);
    font-weight: 700;
    border-radius: 10px;
}
.navbar-donate-btn:hover{
    background-color: var(--white-color);
    color: var(--black-color);
    border: 2px solid var(--black-color);
}
.navbar-toggler-icon{
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(249, 159, 56, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: var(--primary-orange-color);
}

/* Banner section css started here */
.banner-section{
    padding: 50rem 0;
    background-color: red;
}
/* Success Stories css started here */

/* Our Partners css started here */
.our-partners {
    padding: 10rem 0;
}
.our-partners h2 {
    text-align: center;
    padding: 3rem;
    font-size: 3.5rem;
    margin-bottom:3rem;
    color: var(--primary-orange-color);
  } 
  /* Slider */ 
  .slick-slide {
    margin: 0px 10px;
  } 
  .slick-slide img {
    width: 100%;
  }
  
/* Footer section css started here */
.footer-section{
    background-color: var(--black-color);
}
.footer-first-row{
    padding: 3rem 0;
}
.footer-btn{
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--primary-orange-color);
    color: var(--white-color);
    border-radius: 10px;
}
.footer-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-orange-color);
}
hr{
    border: 1px solid;   
    color: var(--primary-orange-color);
}
.footer-second-row{
    padding: 5rem 0;
}
.footer-second-row h5{
    color: var(--white-color);
    font-size: 1.5rem;
}
.footer-middle-section a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.9rem;
    list-style: none;
    display: block;
}
.download-app-section img{
    height: 9rem;
    width: 16rem;
    padding: 0;
    margin: 0;
}
.footer-middle-section a:hover{
    color: var(--primary-orange-color);
    text-decoration: underline;
}
.footer-right-section a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.9rem;
    list-style: none;
    display: block;
}
.footer-right-section a:hover{
    color: var(--primary-orange-color);
    text-decoration: underline;
}
